.blockquote {
    font-size: 1rem;
  }
  .card {
    /*animates card elements*/
     background: rgb(214, 202, 202);
    background: radial-gradient(circle, rgb(48, 4, 42) 0%, rgb(65, 3, 49) 0%, rgb(71, 6, 71) 100%); 
    margin: 3%;
    transform: translateY(-3px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: all 0.3s ease-in-out;
  }

.card:hover {
    /* animates card motion on hover */
    transform: translateY(-7px);
  }
  .btn{
      margin-left:40%;
  }