<div class="card-footer">
    <small>
        Submitted by {{quote.name}} on {{quote.submissionDate|date}} <b style="color: rgb(54, 3, 27);">({{quote.submissionDate|timeQuote}} day(s) ago)</b>.
    </small>
    <button class="btn" style="color:red;" (click)="quoteDelete(true)">
        <i class="fas fa-trash-alt"></i>
        Delete
    </button>
    <button class="btn" (click)="downVote()"> dislike{{quote.downVote}}
        <i class="fa-solid fa-thumbs-down" ></i>
    </button>
    <button class="btn" (click)="upVote()"> like {{quote.upVote}}
        <i class="fa-solid fa-thumbs-up"></i>
    </button>
    
</div>
