<div class="card-footer">
    <small>
        Submitted by {{quote.name}} on {{quote.submissionDate|date}} <b style="color: rgb(54, 3, 27);">({{quote.submissionDate|timeQuote}} day(s) ago)</b>.
    </small>
    <button class="btn" style="color:red;" (click)="quoteDelete(true)">
        <i class="bi bi-trash3-fill"></i>
        Delete
    </button>
    <button class="btn" (click)="downVote()">{{quote.downVote}}
        <i class="bi bi-hand-thumbs-down-fill"></i>
    </button>
    <button class="btn" (click)="upVote()">{{quote.upVote}}
        <i class="bi bi-hand-thumbs-up-fill"></i>
    </button>
    
</div>
